body {
    background-color: #87d6d4;
    font-family: "Roboto Light", serif;
}

.chat{
    position: absolute;
    left: 10px;
    bottom: 60px;
    width: 70%;
    height: calc(100% - 100px);
}

#chat-messages {
    height: 100%;
    overflow: scroll;
}

.movethisbutton {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.chat-message p {
    flex: 1;
    margin-right: 10px;
}

.image-uploads {
    position: absolute;
    right: 5px;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp-image{
    width: 100px;
    height: 100px;
}

.chat-pfp-image{
    width: 50px;
    height: 50px;
    /*outline-style: inset;*/
    /*outline-width: 1px;*/
}